    {{&doc}}
    @Func(oneway = {{oneway}}, value = { {{#exceptions}}{{^first}}, {{/first}}@Field(id = {{id}}, required = {{required}}, name = "{{&name}}"){{/exceptions}} })
    public {{&funcType}} {{&name}} ({{#params}}{{^first}}, {{/first}}@Field(id = {{id}}, required = {{required}}, name = "{{&name}}") {{&fieldType}} {{&name}}{{/params}}) throws {{#exceptions}}{{&fieldType}}, {{/exceptions}} TException;